@use "../../abstracts";

#gallery {
  line-height: 1;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
  padding: 10px 0px;
  background-color: abstracts.$light-blue;
  font-family: Titillium Web, sans-serif;
  width: 100%;
}

#gallery {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  h5,
  h2,
  p,
  iframe,
  img,
  .border {
    width: 100% !important;
    height: auto !important;
    break-inside: avoid-column;
  }
  h2 {
    color: abstracts.$red;
    font-weight: 1000;
    font-size: calc(0.2vw + 20px);
  }

  h5 {
    color: abstracts.$light-blue;
    font-weight: 800;
    font-size: calc(0.2vw + 14px);
  }

  p {
    line-height: 1.5;
    font-weight: 600;
  }
}

.context-container {
  background-color: white;
  transition: 0.5s ease-in-out;
  line-height: 1.3;

  .read-more {
    color: abstracts.clr(reds);
    cursor: pointer;
    text-decoration: underline;
  }
}

.post {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;

  .img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    .post-image {
      transform: scale(1);
      transition: transform 1s ease-out, filter 0.3s ease-out;
    }

    .liked {
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0.8;
      margin-left: -10% !important;
      top: 20px;
      transition: 0.5s ease-in-out;
      overflow: visible;

      .path {
        fill: abstracts.clr(reds, light2);
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          stroke: abstracts.clr(reds, light2);
          stroke-width: 2;
        }
      }
    }

    .like-svg {
      position: absolute;
      width: 100%;
      height: 24px;
      opacity: 0;
      margin-left: -100% !important;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s ease-in-out;
      stroke-width: 2;

      .path {
        stroke: azure;
        fill: transparent;
        transition: 0.2s ease-out;

        &:hover {
          stroke: rgba(rgb(189, 128, 128), $alpha: 0.9);
          stroke-width: 2.3;
        }
      }
    }

    &:hover {
      .post-image {
        transform: scale(1.2);
        filter: brightness(50%);
        transition: transform 8s ease-in, filter 0.3s ease-in;
      }

      .like-svg {
        opacity: 0.6;
        height: calc(10% + 30px);
        cursor: pointer;
      }
    }
  }
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: abstracts.clr(reds);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@media (max-width: 1450px) {
  #gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1100px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 1024px) {
  #gallery {
    margin-top: 10vw;
  }
}

@media (max-width: 800px) {
  #gallery {
    margin-top: 80px;
  }
}

@media (max-width: 500px) {
  #gallery {
    margin-top: 50px;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
